name: Benchmarks

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: CrustS - latest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: update nightly and setup as default
        run: rustup update nightly && rustup default nightly

      - name: install CrustS
        run: cargo install --path .

      - name: BENCHMARK 1
        working-directory: ./benchmark1
        run: sh benchmark.sh

      - name: BENCHMARK 2
        working-directory: ./benchmark2
        run: sh benchmark.sh