name: Benchmarks
on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  benchmark1:
    name: CrustS - latest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: update nightly and setup as default
        run: rustup update nightly && rustup default nightly

      - name: install CrustS
        run: |
        cargo install --path .
        export PATH=$PATH:~/.cargo/bin
      


      - name: BENCHMARK 1
        working-directory: ./benchmark1
        run: sh benchmark.sh

  benchmark2:
    name: CrustS - latest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: update nightly and setup as default
        run: rustup update nightly && rustup default nightly

      - name: install CrustS
        run: |
        cargo install --path .
        export PATH=$PATH:~/.cargo/bin
        
      - name: BENCHMARK 2
        working-directory: ./benchmark2
        run: sh benchmark.sh
